<header id="home">
  <nav id="nav-wrap">
    <ul class="nav hide-sm">
      <li>
        <a routerLink="about" routerLinkActive="active" class="header-link"
          >ABOUT</a
        >
      </li>
      <li>
        <a routerLink="resume" routerLinkActive="active" class="header-link"
          >RESUME</a
        >
      </li>
      <li>
        <a routerLink="skills" routerLinkActive="active" class="header-link"
          >SKILLS</a
        >
      </li>
      <li>
        <a routerLink="contact" routerLinkActive="active" class="header-link"
          >CONTACT</a
        >
      </li>
    </ul>
  </nav>
  <div class="page-container">
    <header>
      <button mat-button class="menu-button hide-lg" (click)="sidenav.toggle()">
        <mat-icon>{{ isMenuOpen ? "menu_open" : "menu" }}</mat-icon>
      </button>
      <mat-sidenav-container class="sidenav-container">
        <mat-sidenav
          #sidenav
          autoFocus="false"
          mode="over"
          [(opened)]="isMenuOpen"
          class="sidenav"
          (click)="onSidenavClick()"
        >
          <a mat-button routerLink="about">ABOUT</a>
          <a mat-button routerLink="resume">RESUME</a>
          <a mat-button routerLink="skills">SKILLS</a>
          <a mat-button routerLink="contact">CONTACT</a>
        </mat-sidenav>
        <mat-sidenav-content>
          <main>
            <router-outlet></router-outlet>
          </main>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </header>
  </div>
</header>
