#nav-wrap {
  height: 70px;
  color: white;
}
.nav {
  display: flex;
  justify-content: center;
  font-size: 18px;
  li {
    display: inline-block;
    padding: 20px;
  }
}
.active {
  color: #f9ea3ff5 !important;
}
.header-link {
  font-weight: 500;
}
