<section class="skills-container">
  <div class="row skills-block">
    <div class="col-md-3">
      <h1 class="skills-heading"><span>SKILLS</span></h1>
    </div>
    <div class="col-md-9">
      <p>My Programming Language Proficiency</p>
      <div class="bars">
        <ul class="skills">
          <li>
            <span class="bar-expand js" [style]="{ width: '80%' }"></span>
            <em>JAVASCRIPT</em>
          </li>
          <li>
            <span class="bar-expand angular" [style]="{ width: '75%' }"></span>
            <em>ANGULAR</em>
          </li>
          <li>
            <span class="bar-expand jquery" [style]="{ width: '60%' }"></span>
            <em>JQUERY</em>
          </li>
          <li>
            <span class="bar-expand html" [style]="{ width: '70%' }"></span>
            <em>HTML</em>
          </li>
          <li>
            <span class="bar-expand css" [style]="{ width: '70%' }"></span>
            <em>CSS</em>
          </li>
          <li>
            <span class="bar-expand java" [style]="{ width: '60%' }"></span>
            <em>JAVA</em>
          </li>
          <li>
            <span class="bar-expand python" [style]="{ width: '65%' }"></span>
            <em>PYTHON</em>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
