<section class="resume-container">
  <div class="row education">
    <div class="col-md-3">
      <h1 class="resume-title">
        <span>EDUCATION</span>
      </h1>
    </div>
    <div class="col-md-9">
      <div class="resume-university">
        <h3>California State University, Sacramento</h3>
        <i>Masters in Computer Science</i><span> • Aug 2022 - Dec 2024</span>
      </div>
      <div class="resume-university">
        <h3>G. Narayanamma Institute of Technology and Science</h3>
        <i>Bachelor's in Information Technology</i
        ><span> • Aug 2014 - Apr 2018</span>
      </div>
    </div>
  </div>
  <div class="row work">
    <hr />
    <div class="col-md-3">
      <h1 class="resume-title">
        <span>WORK</span>
      </h1>
    </div>
    <div class="col-md-9">
      <div>
        <div class="resume-company">
          <h3>Accenture Interactive</h3>
          <i>Senior Frontend Developer</i><span> • Nov 2018 - May 2022</span>
        </div>
        <div class="info">
          <ul>
            <li>
              Developed E-commerce web applications using HTML, CSS and
              JavaScript libraries and frameworks.
            </li>
            <li>
              Experienced in using Spartacus E-commerce platform using Angular.
            </li>
            <li>
              Was a key player in the Performance team and minimized the Page
              Load Time (5 sec to 2 sec) by removing redundant ajax calls and
              employed lazy loading.
            </li>
            <li>
              Implemented dynamic, responsive pages by using JavaScript and
              making ajax calls to the REST APIs.
            </li>
            <li>
              Followed AGILE methodology principles to ease the workflow and
              increase the transparency of the project development.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="resume-download-btn">
    <a
      href="../../assets/media/one-page-resume.pdf"
      target="_blank"
      class="button is-warning"
    >
      <i class="fa fa-download"></i>
      DOWNLOAD RESUME</a
    >
  </div>
</section>
