/* You can add global styles to this file, and also import other style files */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}
app-header {
  position: absolute;
  width: 100%;
  z-index: 1;
}
a {
  color: white !important;
  text-decoration: none !important;
}
/* mobile wide/smaller tablets
------------------------------------------------------------
*/
@media screen and (max-width: 767px) {
  /* About component
  ----------------------------------------------*/
  app-home {
    .header-banner {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
    .profile-img {
      display: none !important;
    }
    .about-me-section {
      padding-top: 60px !important;
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
  }
}
.is-warning {
  background: #702e34;
  border: none;
  cursor: pointer;
  height: 50px;
  display: inline-block;
  border-radius: 3px;
  color: white;
  width: 40%;
  opacity: 1;
  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }
}
@media screen and (max-width: 767px) {
  .hide-sm {
    display: none !important;
  }
  .hide-lg {
    display: block !important;
  }
}
@media screen and (min-width: 768px) {
  .hide-lg {
    display: none !important;
  }
  .hide-sm {
    display: block;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
